[submodule "ofxLibdc"]
	path = ofxLibdc
	url = https://github.com/avilleret/ofxLibdc.git
[submodule "ofxQuadWarp"]
	path = ofxQuadWarp
	url = https://github.com/avilleret/ofxQuadWarp
[submodule "ofxHomography"]
	path = ofxHomography
	url = https://github.com/paulobarcelos/ofxHomography
[submodule "ofxDatGui"]
	path = ofxDatGui
	url = https://github.com/avilleret/ofxDatGui.git
[submodule "ofxCv"]
	path = ofxCv
	url = https://github.com/avilleret/ofxCv
[submodule "ofxGem"]
	path = ofxGem
	url = https://github.com/avilleret/ofxGem.git
[submodule "ofxOSSIA"]
	path = ofxOSSIA
	url = https://github.com/OSSIA/ofxOSSIA.git
